# Dependencies
node_modules/
*/node_modules/

# Environment variables
.env
*/.env

# Build folder
build/
*/build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# React build
frontend/build/